<!doctype html>

<html lang="en">
  <style>
    body {
    padding-top: 80px;
    text-align: center;
    font-family: monaco, monospace;
    background: rgba(229, 245, 4, 0.959);
    background-size: cover;
  }
  h1, h2 {
    display: inline-block;
  }
  h1 {
    font-size: 30px
  }
  h2 {
    font-size: 20px;
  }
  span {
    background: #fd0;
  }
  </style>
  <head>
  
    <meta charset="utf-8">
  
    <title>DSI Text Classifier</title>
  
    <meta name="description" content="The Galvanize DSI Text Classifier">
    <meta name="author" content="DSI Instructor">
  
  </head>
  
  <body>
  
    <h1>The Amazon Review Score Predictor</h1>
    <p>This application takes a writen review and will predict the review score.</p>
  
    <p>Paste your articles text into the input box below, and click the <span>Predict</span> button to predict your review score.</p>
  
    <form action="/predict" method='POST' >
        <textarea name="article_body", 
                  rows="12", cols="60"></textarea>
        <button type="submit">Predict</button> 
    </form>
  
  </body>
</html>
