
<!doctype html>

<html lang="en">
  <style>
    body {
    padding-top: 80px;
    text-align: center;
    font-family: monaco, monospace;
    background: rgba(229, 245, 4, 0.959);
    background-size: cover;
  }
  h1, h2 {
    display: inline-block;
  }
  h1 {
    font-size: 30px
  }
  h2 {
    font-size: 20px;
  }
  span {
    background: #fd0;
  }
  </style>
  <head>
  
    <meta charset="utf-8">
  
    <title>Amazon Review Predictor</title>
  
    <meta name="description" content="Amazon Review Predictor">
    <meta name="author" content="Aidan Jared">
  
  </head>
  
  <body>
  
    <h1>Your Predicted Review Score</h1>
  
    <p><span style="color: blue; font-weight: bold;">Your Writen Review</span></p>
    <p>{{ article }}</p>
    <span style="color: blue; font-weight: bold;">Your Predicted Score</span>
    <p>{{ predicted }}</p>
  
  </body>
</html>
